<form [formGroup]="cipStudentForm">
  <div class="form-group input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"
        >Especialidad Otorgada</label
      >
    </div>
    <select
      class="custom-select"
      formControlName="awarded_specialty"
      class="form-control"
      id="inputGroupSelect01"
    >
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Comisión</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="commission"
    />
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Convocación</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="convocation"
    />
  </div>

  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Nombre(s)</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="name"
    />
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Apellidos</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="lastname"
    />
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >CI Pasaporte:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="ci_passport"
    />
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Procesamiento:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="prosecution"
    />
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      formControlName="authorizing_officials"
      type="checkbox"
      value=""
      id="invalidCheck"
    />
    <label for="authorizing_officials"
      >Autorización funcionarios si o no:</label
    >
  </div>
  <div class="form-group input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Nombre del Funcionario que autoriza:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      formControlName="official_name"
    />
  </div>
  <div class="button-container">
    <button class="effect" (click)="filter()" type="submit" title="Filtrar">
      <div class="text">
        <img
          src="../../../assets/search.svg"
          viewBox="0 0 448 512"
          width="16"
          title="filter-alt"
          alt="Filtrar"
        />Filtrar
      </div>
    </button>
    <button class="effect" (click)="restore()" title="Restablecer">
      <div class="text">Restablecer</div>
    </button>
  </div>
</form>
