<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Registra al Funcionario</h3>
          <p>Rellena los datos a continuacion</p>
          <div *ngIf="mostrarMensaje" class="alert alert-success" role="alert">
            {{ mensaje }}
          </div>
          <form
            class="requires-validation"
            [formGroup]="officialForm"
            novalidate
          >
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialName"
                placeholder="Nombre completo"
                pattern="[A-Za-z]+"
                title="Solo se permiten letras"
                required
              />
              <div class="valid-feedback">Campo nombre relleno</div>
              <div class="invalid-feedback">
                El nombre del funcionario no debe estar en blanco ni tener
                numeros o caracteres especiales.
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialLastName"
                placeholder="Apellidos"
                pattern="(?=.*[A-Za-z])[A-Za-z\s]+"
                required
              />
              <div class="text-danger error-message" style="display: none">
                Solo se permiten letras.
              </div>
              <div class="valid-feedback">Campo apellido relleno</div>
              <div class="invalid-feedback">
                El apellido del funcionario no debe estar en blanco ni tener
                numeros o caracteres especiales.
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialPosition"
                placeholder="Cargo"
                pattern="[A-Za-z]+"
                required
              />
              <div class="valid-feedback">Campo cargo relleno</div>
              <div class="invalid-feedback">
                El apellido del funcionario no debe estar en blanco ni tener
                numeros o caracteres especiales.
              </div>
            </div>
            <div class="form-button mt-3">
              <button (click)="officialList()" class="btn btn-primary">
                Cancelar
              </button>
              <button
                (click)="includeOfficialContinue()"
                type="submit"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#infoModal"
              >
                Crear y agregar otro
              </button>

              <button
                (click)="includeOfficialEnd()"
                type="submit"
                class="btn btn-primary"
              >
                Crear y regresar al listado
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
