<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nz-card
  [nzBordered]="false"
  nzType="inner"
  style="background-color: transparent"
>
  <nz-card-meta
    class="menu-user"
    [nzAvatar]="avatarTemplate"
    [nzTitle]="this.username || 'Nombre de usuario'"
  ></nz-card-meta>
</nz-card>

<ng-template #avatarTemplate>
  <nz-avatar nzSrc="../../../assets/default-avatar.png"></nz-avatar>
</ng-template>

<nz-tabset style="border-bottom: 1px solid #444444; padding-bottom: 10px">
  <!-- Organization Tab------------------------------------- -->
  <nz-tab [nzTitle]="'01'">
    <h4>ORGANIZACIÓN</h4>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <div *ngFor="let menuItem of organizationTab">
        <ng-container
          *ngIf="menuItem.sub_menus.length > 0; else emptySubMenuOrganization"
        >
          <li
            nz-submenu
            [nzTitle]="menuItem.name"
            [(nzOpen)]="menuItem.open"
            (nzOpenChange)="clickSingle(organizationTab, menuItem)"
            [nzDisabled]="menuItem.disabled"
          >
            <ul *ngIf="menuItem.sub_menus.length !== 0">
              <li
                aria-disabled="true"
                nz-menu-item
                *ngFor="let subItem of menuItem.sub_menus"
                [nzDisabled]="!subItem.url"
                [routerLink]="menuItem.domain + '/' + subItem.url"
                [nzMatchRouter]="true"
              >
                {{ subItem.name }}
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-template #emptySubMenuOrganization>
          <li
            aria-disabled="true"
            nz-menu-item
            [routerLink]="menuItem.domain"
            [nzMatchRouter]="true"
          >
            {{ menuItem.name }}
          </li>
        </ng-template>
      </div>
    </ul>
  </nz-tab>

  <!-- Examen Tab------------------------------------- -->

  <nz-tab [nzTitle]="'02'">
    <h4>EXAMEN</h4>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <div *ngFor="let menuItem of examinationTab">
        <ng-container
          *ngIf="menuItem.sub_menus.length > 0; else emptySubMenuExamination"
        >
          <li
            nz-submenu
            [nzTitle]="menuItem.name"
            [(nzOpen)]="menuItem.open"
            (nzOpenChange)="clickSingle(organizationTab, menuItem)"
            [nzDisabled]="menuItem.disabled"
          >
            <ul *ngIf="menuItem.sub_menus.length !== 0">
              <li
                aria-disabled="true"
                nz-menu-item
                *ngFor="let subItem of menuItem.sub_menus"
                [nzDisabled]="!subItem.url"
                [routerLink]="menuItem.domain + '/' + subItem.url"
                [nzMatchRouter]="true"
              >
                {{ subItem.name }}
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-template #emptySubMenuExamination>
          <li
            aria-disabled="true"
            nz-menu-item
            [routerLink]="menuItem.domain"
            [nzMatchRouter]="true"
          >
            {{ menuItem.name }}
          </li>
        </ng-template>
      </div>
    </ul>
  </nz-tab>

  <!-- Assignment Tab Tab------------------------------------- -->

  <nz-tab [nzTitle]="'03'">
    <h4>ASIGNACIÓN</h4>

    <ul nz-menu nzMode="inline" nzTheme="dark">
      <div *ngFor="let menuItem of assignmentTab">
        <ng-container
          *ngIf="menuItem.sub_menus.length > 0; else emptySubMenuAssignment"
        >
          <li
            nz-submenu
            [nzTitle]="menuItem.name"
            [(nzOpen)]="menuItem.open"
            (nzOpenChange)="clickSingle(organizationTab, menuItem)"
            [nzDisabled]="menuItem.disabled"
          >
            <ul *ngIf="menuItem.sub_menus.length !== 0">
              <li
                aria-disabled="true"
                nz-menu-item
                *ngFor="let subItem of menuItem.sub_menus"
                [nzDisabled]="!subItem.url"
                [routerLink]="menuItem.domain + '/' + subItem.url"
                [nzMatchRouter]="true"
              >
                {{ subItem.name }}
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-template #emptySubMenuAssignment>
          <li
            aria-disabled="true"
            nz-menu-item
            [routerLink]="menuItem.domain"
            [nzMatchRouter]="true"
          >
            {{ menuItem.name }}
          </li>
        </ng-template>
      </div>
    </ul>
  </nz-tab>

  <!-- Assignment Tab Tab------------------------------------- -->

  <nz-tab [nzTitle]="'04'">
    <h4>GENERAL</h4>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <div *ngFor="let menuItem of generalTab">
        <ng-container
          *ngIf="menuItem.sub_menus.length > 0; else emptySubGeneral"
        >
          <li
            nz-submenu
            [nzTitle]="menuItem.name"
            [(nzOpen)]="menuItem.open"
            (nzOpenChange)="clickSingle(organizationTab, menuItem)"
            [nzDisabled]="menuItem.disabled"
          >
            <ul *ngIf="menuItem.sub_menus.length !== 0">
              <li
                aria-disabled="true"
                nz-menu-item
                *ngFor="let subItem of menuItem.sub_menus"
                [nzDisabled]="!subItem.url"
                [routerLink]="menuItem.domain + '/' + subItem.url"
                [nzMatchRouter]="true"
              >
                {{ subItem.name }}
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-template #emptySubGeneral>
          <li
            aria-disabled="true"
            nz-menu-item
            [routerLink]="menuItem.domain"
            [nzMatchRouter]="true"
          >
            {{ menuItem.name }}
          </li>
        </ng-template>
      </div>
    </ul>
  </nz-tab>
</nz-tabset>
