<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Actualiza al Funcionario</h3>
          <p>Actualiza los datos a continuación según convenga</p>
          <div *ngIf="mostrarMensaje" class="alert alert-success" role="alert">
            {{ mensaje }}
          </div>
          <form
            class="requires-validation"
            [formGroup]="officialForm"
            novalidate
          >
            <div class="col-md-12">
              <span style="color: azure"><h6>Nombre*</h6></span>
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialName"
                placeholder=""
                pattern="^(?! )[A-Za-záéíóúÁÉÍÓÚñÑ]+( [A-Za-záéíóúÁÉÍÓÚñÑ]+)*$"
                title="Solo se permiten letras"
                maxlength="100"
                required
              />
              <div class="valid-feedback">Campo nombre relleno</div>
              <div class="invalid-feedback">
                El nombre del funcionario no debe estar en blanco ni tener
                números o caracteres especiales.
              </div>
            </div>

            <div class="col-md-12">
              <span style="color: azure"><h6>Apellidos*</h6></span>
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialLastName"
                placeholder=""
                pattern="^(?! )[A-Za-záéíóúÁÉÍÓÚñÑ]+( [A-Za-záéíóúÁÉÍÓÚñÑ]+)*$"
                maxlength="100"
                required
              />
              <div class="text-danger error-message" style="display: none">
                Solo se permiten letras.
              </div>
              <div class="valid-feedback">Campo apellido relleno</div>
              <div class="invalid-feedback">
                El apellido del funcionario no debe estar en blanco ni tener
                números o caracteres especiales.
              </div>
            </div>

            <div class="col-md-12">
              <span style="color: azure"><h6>Cargo*</h6></span>
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="officialPosition"
                placeholder=""
                pattern="^(?! )[A-Za-záéíóúÁÉÍÓÚñÑ]+( [A-Za-záéíóúÁÉÍÓÚñÑ]+)*$"
                maxlength="100"
                required
              />
              <div class="valid-feedback">Campo cargo relleno</div>
              <div class="invalid-feedback">
                El cargo no debe estar en blanco ni tener números o caracteres
                especiales.
              </div>
            </div>
            <div class="col-md-12">
              <span style="color: azure"><h6>Procesamiento*</h6></span>
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="prosecution"
                placeholder=""
                pattern="^(?! )[A-Za-záéíóúÁÉÍÓÚñÑ]+( [A-Za-záéíóúÁÉÍÓÚñÑ]+)*$"
                maxlength="100"
                required
              />
              <div class="valid-feedback">Campo procesamiento relleno</div>
              <div class="invalid-feedback">
                El procesamiento no debe estar en blanco ni tener números o
                caracteres especiales.
              </div>
            </div>
            <div class="col-md-12">
              <span style="color: azure"><h6>Convocatoria*</h6></span>
              <input
                class="form-control"
                type="text"
                name="name"
                formControlName="convocation"
                placeholder=""
                pattern="^(?! )[A-Za-záéíóúÁÉÍÓÚñÑ]+( [A-Za-záéíóúÁÉÍÓÚñÑ]+)*$"
                maxlength="100"
                required
              />
              <div class="valid-feedback">Campo convocatoria relleno</div>
              <div class="invalid-feedback">
                La convocatoria no debe estar en blanco ni tener números o
                caracteres especiales.
              </div>
            </div>
            <div class="form-button mt-3">
              <button (click)="officialList()" class="btn btn-primary">
                Cancelar
              </button>
              <button
                (click)="modifyOfficialContinue()"
                type="submit"
                class="btn btn-primary"
                id="toastbtn"
              >
                Actualizar
              </button>

              <button
                (click)="modifyOfficialEnd()"
                type="submit"
                class="btn btn-primary"
              >
                Actualizar y regresar al listado
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
